*.bin
*.d
*.o
*.dump
*.axf
*.elf
*.log
FreeRTOS/Demo/build/
FreeRTOS/*.txt
FreeRTOS/*.hex
work/
sim_verilator/
transcript
*.bak
*.vcd
*.mti
*.mpf
*.mpf_new
sim/
transcript
*_work/
sim_build/
__pycache__/
