*.bak
*.vcd
*.mti
*.mpf
*.mpf_new
work/
sim/
sim_verilator/
transcript
*.bak
*.vcd
*.mti
*.mpf
*.mpf_new
*.log
sim/
build/
transcript
*_work/
sim_build/
__pycache__/
fpga-nexys-a7/logs
sdk/boot_mem_uart_fpga/build
sdk/boot_mem_uart_fpga/debug

